<section class="mainContent">
  <div class="leftPart">
    <div class="formheader">
      <app-logo></app-logo>
      <p class="subHeading">Create your Fundoo Account</p>
    </div>
    <form [formGroup]="regForm" (ngSubmit)="onSubmit()">

      <!--First name-->
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" class="form-control">
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" class="form-control">
      </mat-form-field>

      <div *ngIf="submitted && formData.firstName.errors" class="invalid-feedback">
        <div *ngIf="formData.firstName.errors.required">First Name and Last Name is required</div>
      </div>
      <!--Email-->
      <div class="emailSection">
        <mat-form-field class="emailSection" appearance="outline">
          <mat-label>Your email address</mat-label>
          <input class="input" formControlName="email" class="form-control" matInput type="email">

          <mat-hint class="emailHint">You can use letters, numbers & periods</mat-hint>
        </mat-form-field>
      </div>
      <div *ngIf="submitted && formData.email.errors" class="invalid-feedback">
        <div *ngIf="formData.email.errors.required">Email is required</div>
      </div>
      <!--Password-->
      <div class="passwordSection">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" class="form-control" autocomplete="off"
            type="password">
        </mat-form-field>
        <!--Confirm Password-->
        <mat-form-field appearance="outline">
          <mat-label>Confirm</mat-label>
          <input matInput formControlName="confirmpassword" class="form-control" autocomplete="off" type="password">
        </mat-form-field>
        <mat-hint class="passwordHint">Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
      </div>
      <div *ngIf="submitted && formData.password.errors" class="invalid-feedback">
        <div *ngIf="formData.password.errors.required">Password is required</div>
      </div>
      <!--Check box-->
      <mat-checkbox class="checkBox" (click)="OnCheck()">Show Password</mat-checkbox>
      <div class="buttonsPart">
        <button mat-button color="primary">Sign in instead</button>
        <button class="submitBtn" mat-raised-button (click)="onSubmit()" color="primary"> Submit</button>
      </div>
    </form>
  </div>
  <div class="rightPart">
    <img class="registerImg" src="assets\registerImage.jpeg" alt="" srcset="">
    <p>Quick Notes, To-do List, Reminders</p>
  </div>
</section>