<div class="container">

    <div>
        <p class="logo">
            <span style="color:rgb(29, 29, 167)">F</span>
            <span style="color:rgb(214, 16, 16)">u</span>
            <span style="color:yellow">n</span>
            <span style="color : rgb(4, 4, 80)">d</span>
            <span style="color:rgb(62, 235, 62)">o</span>
            <span style="color:rgb(209, 34, 34)">o</span>
        </p>

        <p class="title">
            Sign in
        </p>

        <p class="use-account">
            Use your Fundoo Account
        </p>
        <form [formGroup]="loginForm">
            <div>
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Email or phone</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-hint *ngIf="submitted && formData.email.errors && formData.email.errors.required"
                        class="invalid-feedback">
                        <mat-icon matPrefix>error</mat-icon> Enter a valid email
                    </mat-hint>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" formControlName="password" input type="password">
                    <mat-hint *ngIf="submitted && formData.password.errors  && formData.password.errors.required"
                        class="invalid-feedback">
                        <mat-icon matPrefix>error</mat-icon> Enter a valid password
                    </mat-hint>
                </mat-form-field>
            </div>

            <div>
                <button mat-button class="forget-password-button" routerLink="/forget"><strong>Forget password?</strong></button>
            </div>
            <div>
                <button mat-button class="create-account-button" routerLink="/register"><strong>Create
                        account</strong></button>
                <button mat-raised-button class="next-button" (click)="gotoHome()">Next</button>
            </div>

        </form>
    </div>
</div>